

/*********************
* Calendar style
**********************/
.cal_table {
   
	border: 1px solid rgb(215,215,215);
  padding: 0;
  margin: 0;

}

.cal_table thead tr {
  border: 1px solid rgb(215,215,215);
  text-align: center;

}

.cal_table thead tr th {
  vertical-align: middle;
}

.cal_table thead .previous {
font-size: 1em;
}

.cal_table thead .next {
  font-size: 1em;
}

.cal_table div span{

font-size: 14px !important;
position: relative;
padding-left: 0px;
clear: both;
float: left;

}

.cal_week_tr {
border: 1px solid rgb(215,215,215);
padding: 0;
margin: 0;
}

.cal_week_td {
  text-align: center;
}

.cal_week_td a {
  /*clear: both;*/
}

.cal_week_td span {
clear: both;
display: inline-block;
width: 100%;
}

.cal_td_today {
		border-width:1px 0 0 1px;
	border-style:solid;
	border-color:rgb(207,207,207);
    /* non rgba browsers display white */
  background:rgb(255,255,255);
	/* rgba browsers display 0.2 opacity */
	background:rgba(215,135,215,0.2);
	color:#85368A;
    padding:0px !important;
}

.cal_week_tdev_td_today {
  text-align: center;
  background-color: #aaa;
}

.cal_td_daysnoevents {
		border-width:1px 0 0 1px;
	border-style:solid;
	border-color:rgb(207,207,207);
    padding:0px !important;
    min-width: 100px;
}

a.ev_link_weekday:link {
    font-size:12px;
    font-family: Verdana;
    color: Gray;
    text-decoration:none;
}
a.ev_link_weekday:visited  {
    font-size:12px;
    font-family: Verdana;
    color: Gray;
    text-decoration:none;
}
a.ev_link_weekday:hover  {
    font-size:12px;
    font-family: Verdana;
    color: Black;
}

/**********************
* Nav bar style
**********************/
a.nav_bar_link:link {
    font-size: 10px;
    font-family: Verdana;
    color: Green;
}
a.nav_bar_link:visited  {
    font-size:10px;
    font-family: Verdana;
    color: Teal;
}
a.nav_bar_link:hover  {
    font-size:10px;
    font-family: Verdana;
    color: Lime;
}
.nav_bar_cell  {
    background-color: #ECECEC;
}

/****************************
* Iconic calendar navigation
****************************/

td.iconic_td {
   width:44px!important;
   margin:0px;
   padding:0px;
}

tr.icon_labels{
 font-size:8pt;
 margin:0px;
 padding:0px;
}

div.jev_pagination {
	width:100%;
	text-align:center;
}

th.current{
  background-color: #aaa;
  font-size: 1.5em;
}

div.nextimage
{
float:right;
width:40px;
height:30px;
background:url(../images/vector-arrow-icons.jpg) -70px -5px ; 
}

div.prefimage
{
float:left;
width:40px;
height:30px;
background:url(../images/vector-arrow-icons.jpg) -190px -5px ; 
}



.legenda{
  float: none;
  position: relative;
  padding-top: 10px;

}

.legenda li{
float: left;
margin: 0;
padding: 0;
list-style: none;
padding-bottom: 0px;
padding-right: 20px;
padding-left: 2px;
}

.today {
  background-color: #eee;
}



